/* いい感じの真ん中寄せのコンテント */
@define-mixin baseContent {
  margin: 0 15%;
  @media screen and (max-width: 768px) {
    margin: 0 5%;
  }
}

@define-mixin linkToPage {
  display: block;
  margin: 5px 0;
  text-align: center;
  color: $text-color-markdown;
  font-size: $text-size-markdown;
  text-decoration: initial;
  &:hover {
    text-decoration: underline;
  }
}
