/*This file contains very basic styles.*/

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body.js-open-sans-loaded {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.m-10 {
  margin: 10px;
}

.mtb-10, .mt-10 {
  margin-top: 10px;
}

.mrl-10, .mr-10 {
  margin-right: 10px;
}

.mtb-10, .mb-10 {
  margin-bottom: 10px;
}

.mrl-10, .ml-10 {
  margin-left: 10px;
}

.m-20 {
  margin: 20px;
}

.mtb-20, .mt-20 {
  margin-top: 20px;
}

.mrl-20, .mr-20 {
  margin-right: 20px;
}

.mtb-20, .mb-20 {
  margin-bottom: 20px;
}

.mrl-20, .ml-20 {
  margin-left: 20px;
}

.m-30 {
  margin: 30px;
}

.mtb-30, .mt-30 {
  margin-top: 30px;
}

.mrl-30, .mr-30 {
  margin-right: 30px;
}

.mtb-30, .mb-30 {
  margin-bottom: 30px;
}

.mrl-30, .ml-30 {
  margin-left: 30px;
}
