.Footer p {
  margin: 5px 0;
  text-align: center;
}

.Footer__linkToPage {
  color: $text-color-markdown;
  text-decoration: initial;
  font-size: 14px;
}

.Footer__linkToPage:hover {
  text-decoration: underline;
}
