/*@import '../utils/_variables.css';*/

.MarkDown {
  color: $text-color-markdown;
}

.MarkDown p {
  font-size: $text-size-markdown;
  line-height: $line-height-markdown;
}

.MarkDown h2 {}

.MarkDown p code {
  background: rgba(0,0,0,0.04);
  padding: 0.2em 0.4em;
  font-size: 98%;
  border-radius: 3px;
}

.MarkDown pre code {
  display: inline-block;
  font-size: $text-size-markdown;
  background-color: #23241f;
  color: #f8f8f2;
  padding: 10px;
  line-height: $line-height-markdown;
}
