.SocialBtns {
  text-align: center;
}

.SocialBtns__btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: transform .2s, opacity .2s;
  opacity: 1;
}

.SocialBtns__btn:hover {
  /*transform: scale(1.5, 1.5);*/
  cursor: pointer;
  opacity: 0.5;
}

.SocialBtns__btn.SocialBtns__btn--fb {
  background-color: #3B5998;
}
.SocialBtns__btn.SocialBtns__btn--tw {
  background-color: #00ACEE;
}
.SocialBtns__btn.SocialBtns__btn--ig {
  background-color: #125688;
}
.SocialBtns__btn.SocialBtns__btn--gh {
  background-color: #000;
}
.SocialBtns__btn.SocialBtns__btn--gp {
  background-color: #DD4B39;
}
.SocialBtns__btn.SocialBtns__btn--qt {
  background-color: #59bb0c;
}
.SocialBtns__btn.SocialBtns__btn--mmm {
  background-color: #0887BF;
}
