.TravelPage {
}

.TravelPage .SocialBtns__btn--ig {
  margin-bottom: -2px;
  width: 15px;
  height: 15px;
}

.TravelPage .SocialBtns__btn--ig:hover {
  transform: scale(1, 1);
}

.TravelPage__content {
  @mixin baseContent;
}

.TravelPage__MyMap {
  width: 100%;
  height: 60vh;
  border: none;
  margin-bottom: 15px;
  vertical-align: bottom;
}

.TravelPage__images {
}

$TravelPage__images__chunk__margin: 5px;

.TravelPage__images__chunk {
  display: flex;
}

.TravelPage__images__chunk__imageWrapper {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  margin-bottom: $TravelPage__images__chunk__margin;
  img {
    width: calc(100% - $TravelPage__images__chunk__margin);
    height: auto;
    vertical-align: bottom;
    margin-right: $TravelPage__images__chunk__margin;
  }
  &:nth-child(3) {
    img {
      margin-right: 0;
    }
  }
}
