.TravelPage {

}

.TravelPage .SocialBtns__btn--ig {
  margin-bottom: -2px;
  width: 15px;
  height: 15px;
}

.TravelPage .SocialBtns__btn--ig:hover {
  transform: scale(1, 1);
}

.TravelPage img {
  width: 100%;  
}
